@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@1,100&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@1,100&family=Dancing+Script&family=DynaPuff&display=swap');
body {
font-family:"advent pro" ,sans-serif;
padding: 0;
margin: 0;;
}
ul{
padding:0;
margin:0;
}
li {
	list-style-type: none;
}

h2{
    color: #4d949c;
	text-transform : uppercase;
	text-align: center ;
	padding-top : 30px;
	font-size: 3em;
}
a{
    text-decoration: underline;
    color: black;
}
/* *********************NAVBAR********************* */
nav{
    overflow:hidden;
    background-color: #f2dff0;
    position:fixed;
    width: 100%;
    opacity: 0.9;
}
header li{
 float: right;
 font-size: 1.75em;
 font-family:  "dancing script",'cursive';

}
header li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
#logo{
    font-family:  "dancing script",'cursive';
    font-weight: bold;
    float: left;
}
/* *****************imageprincipale********************** */
#imageprincipale {
    padding-top: 60px;
    background: url(img/img36.jpg) ;
    background-size:cover;
    height: 799px;
}
h1{
    font-family: "Verdana ", 'sans-serif';
    text-align: center;
    color: #f5b09a;
    font-size: 6em;
    margin-top: 110px;
    text-shadow: 1px 3px 2px ;

}


/* ***************presentation************* */
#presentation{
    background-color: RGB(250, 237, 254);
    padding: 10px 0px 100px 0;
    height: 900px;
}
#presentation p{
    text-align: center;
    color: #270757;
    font-size: 3em;
}
#textintro{
    padding: 0px 20%;

}
#textintro p{
    font-size: 2em;
    
}
p{
    text-align: center;
    color: rgb(91, 57, 8);
    font-size: 1.6em;
}
#prestation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}
h4{
    text-align: center;
    color: #e317ba;
    font-size: 1.5em;
    
}
img{
    transition: 0.3s ease;
}
img:hover{
    transform: scale(1.07);
}
.imagepresentation h4{
    font-family: 'dancing script','cursive';
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}
.imageprestation img{
    border-radius: 10 px;
    box-shadow: 5px 5px 3px 1px  rgb(16, 15, 13);

}
.imagepresentation img:hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}
#para1{
    border:1px solid rgb(205, 179, 120);
    size: 10px;
}
/* ******************pratique****************** */
#pratique{
    height: 3100px;
    background-color: RGB(250, 237, 254);
    padding: 1px 2%;
}
#pratique h1{
    font-family: "crusive", serif;
    text-align: center;
    color: #1e7085;
    font-size: 4em;
    margin-top: 110px;
    text-shadow: 1px 3px 2px ;
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-image {
    flex: 0 0 auto;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 50%;
}

/* ***************exemple************* */

H6{
    text-align: left;
    color:#1e7085;
    font-size: 2em;
	font-family: "crusive", serif;
   
	
}
#exemple {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#exemple video {
    max-width: 100%;
    max-height: 100%;
}




/* ******************footer********************** */
footer{
    background-color: #e3c7f0;
    background-size:40%;
    color: #090909;
    padding: 20px 0 10px 0;
    text-align: center;
    height: 400px;
}
h5{
    text-align: center;
    font-size: 23px;
    margin-bottom: 15px;
}
footer a{
    padding: 8px 15px;
    background: #fabbd5;
    border-radius: 30px;
    color: black;
}
button{
    font-size: 1em;
    background-color: #f00a7d;
    text-decoration: none;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    padding: 8 10;
}
button:hover{
    background-color: tomato;
    color: #fffAE1;
    cursor: pointer;
    transition:0.3s ease-in-out ;
}
#deuxiemeTrait{
    height:1px ;
    width: 85%;
    background-color: #0b0b0a;
    margin: 60px auto;
}
#copyrightEtIcons{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;

}
#copyright{
    width: 500%;
    text-align: left;
    color: #151514;
}
#icons{
    width: 50%;
    text-align: right;
}
#icons a{
    display: inline-block;
    margin: 0 15px;
    font-size: 1.5em;
    color: #070707;

}

.about-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.about-content {
    flex: 1 1 auto;
    font-size: 40px;
}

.about-content ul {
    list-style-type: square;
}
